* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffdfc9;
}

.maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.indexHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #48e832;
  padding: 5vh;
}

header {
  margin: 0;
  padding: 0;
}

.textIntro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.knapp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 30%;
}

.image-frame {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: auto;
  text-align: center;
  align-items: center;
  margin: 5vh;
}

.image-frame img {
  margin: 5vh;
  max-width: 50%;
  height: auto;
}

.image {
  width: 5vw;
  height: auto;
}

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-left: 22vw;
  margin-top: 2vw;
  padding: 3vw;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.5vw;
}

.test {
  font-size: 2vw;
}

.footerone {
  text-align: center;
}
#kontaktHeader {
  display: flex;
  align-items: flex-start;
}

.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.margin {
  padding: 5vh;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.icons:hover {
  background-color: black;
}

.icons img {
  width: 25%;
  height: auto;
}

#medlemheader {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  background-color: #01a825;
  font-size: 1vw;
}

#omHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #48e832;
  padding: 5vh;
  font-size: 1vw;
}

.medlempage {
  display: flex;
  justify-content: center;
}

.margin {
  padding: 5vh;
  text-align: center;
  width: 50%;
}

.margin2 {
  padding: 5vh;
  text-align: center;
  width: 130%;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2vw;
}

.right img {
  max-width: 10vw;
  height: auto;
}

.left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2vw;
}

.left img {
  max-width: 10vw;
  height: auto;
}

.griddisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2vw 1vh;
  justify-items: center;
  align-items: center;
}

.items {
  grid-column: 2;
  grid-row: 1;
  width: 15vw;
  height: auto;
}

.items2 {
  grid-column: 3;
  grid-row: 1;
  width: 15vw;
  height: auto;
}

.items3 {
  grid-column: 4;
  grid-row: 1;
  width: 15vw;
  height: auto;
}

.items4 {
  grid-column: 2;
  grid-row: 2;
  width: 15vw;
  height: auto;
}

.items5 {
  grid-column: 3;
  grid-row: 2;
  width: 15vw;
  height: auto;
}

.premiumm {
  color: #ffdfc9;
}

.items6 {
  grid-column: 4;
  grid-row: 2;
  width: 15vw;
  height: auto;
}

.items7 {
  grid-column: 2;
  grid-row: 3;
  width: 15vw;
  height: auto;
}

.items8 {
  grid-column: 3;
  grid-row: 3;
  width: 15vw;
  height: auto;
}

.items9 {
  grid-column: 4;
  grid-row: 3;
  width: 15vw;
  height: auto;
}

.items5:hover {
  background-color: #01a825;
}

.items:hover,
.items2:hover,
.items3:hover,
.items4:hover,
.items6:hover,
.items7:hover,
.items8:hover,
.items9:hover {
  background-color: #48e832;
}

.griddisplay img {
  width: 15vw;
  height: auto;
}

.footertwo {
  display: flex;
  justify-content: center;
  background-color: #01a825;
  padding: 2vw;
  margin-top: 2vw;
  position: sticky;
  bottom: 0;
}

.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5vw;
}

.knapp2 {
  display: flex;
  justify-content: center;
}

.knapp3 {
  padding: 2vw;
  border: 1px solid black;
  margin-top: 3vw;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #01a825;
  color: white;
}

.knapp4 {
  padding: 2vw;
  border: 1px solid black;
  margin-top: 3vw;
  margin-right: 1vw;
  margin-left: 1vw;
  color: #01a825;
}

.subfooter {
  display: flex;
  justify-content: center;
  margin: 2vw;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.icons .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: rgba(0, 0, 0, 0.534);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.icons:hover .tooltiptext {
  visibility: visible;
}

@media screen and (min-width: 426px) {
  .infotext {
    font-size: 18px;
  }
  .headerBig {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 15px;
  }
  .subfooter {
    font-size: 16px;
  }
  .tooltiptext {
    font-size: 14px;
  }
  .knapp5 {
    font-size: 14px;
  }
  .announcment {
    font-size: 12px;
  }
  .marketfont {
    font-size: 1vw;
  }
  .premiumm {
    font-size: 1vw;
  }
}

@media screen and (max-width: 425px) {
  .infotext {
    font-size: 10px;
  }
  .headerBig {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }
  .subfooter {
    font-size: 9px;
  }
  .tooltiptext {
    font-size: 10px;
  }
  .knapp5 {
    font-size: 10px;
  }
  .announcment {
    font-size: 8px;
  }
  .marketfont {
    font-size: 2vw;
  }
  .premiumm {
    font-size: 2vw;
  }
}
